<div class="container containerfix">
    <div class="row">
        <div class="twelve columns">
            <!--Filtro de Productos-->
            <div class="cabecera" align="right">
                <input
                        type="text"
                        placeholder="Buscar producto..."
                        ng-model="filtroProducto">
                <select ng-model="filtroCategoria">
                    <option value="">Todos</option>
                    <option value="Videojuegos">Videojuegos</option>
                    <option value="Películas">Películas</option>
                    <option value="Libros">Libros</option>
                </select>
            </div>
        </div>
    <div class="row">
        <div class="twelve columns">
            </div>
            <!--Lista de Productos-->
            <div id="main">
                <div id="items">
                    <div class="item"
                         ng-repeat="producto in $ctrl.productos | filter: filtroCategoria | filter: { name: filtroProducto }"
                         ng-class="{ selected: $ctrl.isSelected(producto)}">
                        <div product-card
                             item-name="{{producto.name}}"
                             item-price="{{producto.price}}"
                             item-src="{{producto.photos[0]}}"
                             item-category="{{producto.category.name}}"
                             item-seller="{{producto.seller.nick}}"
                             item-id="{{producto.id}}"></div>
                        <a ng-link="['ProductDetails', {id: producto.id }]">Detalles</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
