<div class="container containerfix">
    <div class="row">
        <div class="twelve columns cabecera" align="right">
            <!--Filtro de Productos-->
            <input
                    type="text"
                    placeholder="Buscar producto..."
                    ng-model="filtroProducto">
            <!--Filtro dinamico de categorias-->
            <select ng-model="filtroCategoria">
                <option value="">Todos</option>
                <option ng-repeat="option in ::$ctrl.categories" value="{{::option.name}}">{{::option.name}}</option>
            </select>
            <!--Filtro de Geolocalizacion-->
            <select
                    ng-change="$ctrl.geoPosition()"
                    ng-model="$ctrl.filtroDistancia">
                <option value="99999">Any</option>
                <option value="1">1 km</option>
                <option value="5">5 km</option>
                <option value="10">10 km</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            </div>
            <!--Lista de Productos-->
            <div id="main">
                <div id="items">
                    <div class="item"
                         ng-repeat="producto in $ctrl.productos
                         | filteredLocation:$ctrl.cercanos:'seller':'id'
                         | filter: filtroCategoria
                         | filter: { name: filtroProducto }"
                         >
                        <div product-card
                             item-name="{{::producto.name}}"
                             item-price="{{::producto.price}}"
                             item-src="{{::producto.photos[0]}}"
                             item-category="{{::producto.category.name}}"
                             item-seller="{{::producto.seller.nick}}"
                             item-id="{{::producto.id}}">
                        </div>
                        <a ng-link="['ProductDetails', {id: producto.id }]">Detalles</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
